/* https://hyperpix.net/fonts/vaporwave-fonts/ */
/* https://www.dafont.com/hyper-vyper.font */
@font-face{
    font-family: "HyperViper";
    src: url('hyperviperhalfital.ttf'),
    url('hyperviperhalfital.ttf'); /* IE */
}

body {
	background-image: linear-gradient(#000000 0%, #1a297b 35%,  #000a35 100%);
}

/* body {
	background-image: linear-gradient(to right, #000311 , #000a35);;
} */

#header h1 {
	color: #ff00c1;
	text-shadow: 2px 2px #00b8ff;
	font-family: HyperViper;
	font-size: 9vmin;
	padding: 10px;
}

#headshot {
	border-radius: 15%;
	margin-bottom: 5px;
}

#sidebar-row {
	/* background-color: #000000; */
	margin-top: 10px;
	margin-right: 10px;
}

/* .sidebar-module {
	background-color:  	#000000;
} */

/* .sidebar-module h1 {
	color: #ff00c1;
	text-shadow: 2px 2px #00b8ff;
	font-family: HyperViper;
	font-size: 9vmin;
	padding: 10px;
} */

.sidebar-module a {
	color: white;
}

.icons-sidebar {
    margin-right: 5px;
    font-size: 1.5em;
}

#fa-code  {
	color: #ffa500;
}

#fa-music  {
	color: #ff4500;
}

#fa-guitar  {
	color: #cc0000;
}

#fa-envelope  {
	color: #ffa500;
	font-size: 3em;
}

#fa-github  {
	color: #ff4500;
	font-size: 3em;
}

#fa-linkedin  {
	font-size: 3em;
	color: #cc0000;
}

ol div a {
	color: #07cff6;
}

#code a:hover {
	color: white;
	text-decoration-color: #BE3A34;
}

#music a:hover {
	color: white;
	text-decoration-color: #FFA300;
}

#guitar a:hover {
	color: white;
	text-decoration-color: #ff00c1;
}

.sidebar-module li {
	color: #ff00c1;
	font-size: 1.25em;
}

#main-row {
	/* background-color: #000a35; */
	/* background-image: radial-gradient(circle, #000311 , #000a35); */
	border: 5px solid #ff00c1;
	border-radius: 5px;
	margin: 5px;
	padding: 15px;
}

.blog-post img {
	width: 100%;
	height: auto;
}

.blog-post-title a {
    color: #07cff6;
}

.blog-post-title a:hover {
    color: #00fff9;
    text-decoration-color: #00fff9;
}


.blog-post p {
    color: white;
}

.blog-post p a {
    color: #ff00c1;
}

.blog-post p a:hover {
    color: #ff00c1;
    text-decoration-color: #BE3A34;
}

.blog-post ul li {
	color: white;
}

.blog-tags-container, .blog-categories-container {
    margin-top: 30px;
    font-size: 20px;
}
.blog-tags-container span.glyphicon, .blog-categories-container span.glyphicon {
    margin-right: 20px;
}

.blog-post-title-archive {
    margin-bottom: 5px;
    font-size: 25px;
}

.blog-archive-title {
    margin-bottom: 50px;
}
