body {
	background-color: #006BB6;
}

.blog-post p {
    color: white;
}

.blog-post a {
        color: #FDB927;
}


.blog-tags-container, .blog-categories-container {
    margin-top: 30px;
    font-size: 20px;
}
.blog-tags-container span.glyphicon, .blog-categories-container span.glyphicon {
    margin-right: 20px;
}

.blog-post-title-archive {
    margin-bottom: 5px;
    font-size: 25px;
}

.blog-archive-title {
    margin-bottom: 50px;
}

#headshot {
	border-radius: 15%;
	margin-bottom: 5px;
}

#sidebar-row {
	background-color: #006BB6;
}

.sidebar-module {
	background-color: #006BB6;
}

.icons-sidebar {
	color: #FDB927;
    margin-right: 5px;
    font-size: 1.7em;
}

.icons-desc-sidebar {
	color: #FDB927;
	margin:right: 5px;
	font-size; 1em;
}

.sidebar-module h2 {
	color: white;
}

.sidebar-module a {
	color: #FDB927;
	text-decoration: none;
}

.sidebar-module a:hover {
	color: #FDB927;
}

.sidebar-module p {
	color: white;
}

#main-row {
	background-color: #26282A;
}
